<%- include('partials/header') %>
    <div class="container">
        <div class="blogs">
            <h2>Latest Posts</h2>
            <ul class="blog-list">
                <% posts.forEach(post=> { %>
                    <li>
                        <span>
                            <a href="/viewblog/<%=post._id%>" class="blog-content">
                                <%=post.title %>
                            </a>
                        </span>
                        <span class="edit-dlt">
                            <a href="/viewblog/<%=post._id%>"><button class="view-btn update-btn">
                            <i class="fa-solid fa-eye"></i>
                            </button></a></span>
                    </li>
                    <% }) %>
            </ul>
            <div class="get-back"><a href="/viewblogs">Back <i class="fa-solid fa-arrow-left"></i></a></div>
            
        </div>
        <%- include('partials/footer') %>

            </body>

            </html>