<%- include('partials/header') %>
    <%- include('searchPage') %>
        <div class="container">
            <div class="blogs">
                <h2>Latest Posts</h2>
                <ul class="blog-list">
                    <% posts.forEach(post=> { %>
                        <li class="post-lists"><a href="/viewblog/<%=post._id%>">
                                <span>
                                    <%=post.title %>
                                </span>
                            </a> <span class="edit-dlt">
                                <a href="/viewblog/<%=post._id%>"><button class="view-btn update-btn">
                                        <i class="fa-solid fa-eye"></i>
                                    </button></a>
                                <a href="#"><button class="edit-btn update-btn"
                                        onclick="viewEditPost('<%=post.title%>','<%=post.body%>','<%=post._id%>')">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button></a>
                                <a href="#"><button class="delete-btn update-btn" onclick="viewDeletePost('<%=post._id%>')">
                                        <i class="fa-solid fa-trash"></i>
                                    </button></a>
                            </span></li>
                        <% }) %>
                </ul>
            </div>
        </div>
        <%- include('partials/footer') %>
            <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
            <script src="/js/script.js"></script>
            </body>

            </html>